/* All css */

nav {
background-color: #5e3c58;
height: 80px;
}

span {
  color: #d93335;
  font-size: x-large;
}

.navbar-brand {
  color: white;
  font-size: x-large;
}

.navbar-brand:hover {
  color: white;
}

#color {
  background-color: #f4ebe6;
}

html, body {
  background-color: #e1ded7;
}

.fa {
  color: white;
}

#app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
}

/* view css */
/* .card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #f4ebe6;
  box-shadow: 0 0 20px #00000060;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
} */

/* #card {
  box-shadow: 0 0 20px #00000060;
  background-color: #f4ebe6;
} */

p {
  font-size: 20px;
  font-weight: bold;
}

.record {
  background-color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.namedob {
  background-color: yellow;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 10px;
}

.sympt{
  background-color: pink;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
}

.diag {
  background-color:green;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 15px;
}

.treat {
  background-color:tan;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 15px;
}

/*search area*/
.jumbotron-fluid{
  background-color: #f4ebe6;
}

h2{
  margin: 0 0 10px;
  padding: 0;
  color: black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box{
  width: 50%;
  position: relative;
}

.search_box input[type="text"]{
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: .5px solid white;
  border-radius: 10px;
  font-size: 18px;
  color:#fff;
  outline: none;
}

::-webkit-input-placeholder{
  color: #fff;
}

::-moz-placeholder{
  color: #fff;
}

:-ms-input-placeholder{
  color:#fff;
}

.fa-search{
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  right:20px;
  color: #fff;
  font-size: 25px;
}

/*Record section
#patientRecord{
  display: none;
}*/

/* .card-header{
  background-color: #fff;
} */

lotter-player{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h3{
  margin: 0 0 10px;
  padding: 0;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
} */

h4{
  margin: 0 0 10px;
  padding: 0;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 425px){
.search_box{
  width:90%;
}
}

.login-box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  background-color: #f4ebe6;
}

.login-box h1 {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 100px;
  margin-bottom: 40px;
  padding: 13 px 0;
}

.login-box p {
  margin-left: 40px;
  font-size: 20px;
  margin-top: 20px;
  padding: 13 px 0;
}

.login-box a {
  color: red;
}

.textbox {
  width: 100%;
  border: none;
  overflow: hidden;
  font-size: 20px;
  padding:  8px 0;
  margin: 8px 0;
  
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
  margin-left: 6px;
  margin-top: 2px;
  color: black;
}

.textbox input {
  font-size: 18px;
  border: none;
  width: 80%;
  float: left;
  margin: 0 5px;
  color: black;
  background: rgb(206, 192, 192);
}

.btnlog {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
  border: none;
}
/*demo*/
/*font-family: 'Cabin', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;*/
