
/* All css */

nav {
background-color: #5e3c58;
height: 80px;
}

span {
  color: #d93335;
  font-size: x-large;
}

.navbar-brand {
  color: white;
  font-size: x-large;
}

.navbar-brand:hover {
  color: white;
}

#color {
  background-color: #f4ebe6;
}

html, body {
  background-color: #e1ded7;
}

/* view css */
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #f4ebe6;
}
.record {
  background-color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
}

.sidepic {
  background-color: blue;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  height: 100%;
}
.namedob {
  background-color: yellow;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 10px;
}
.sympt{
  background-color: pink;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
}
.diag {
  background-color:green;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 15px;
}
.treat {
  background-color:tan;
  background-repeat: repeat;
  border-radius:10px;
  padding: 5px;
  margin: 15px;
}